body,html{width: 100%;
    height: 100%;
    background-color: white;}
    
    
h1{
    font-family: 'Roboto Slab', 'Zilla Slab', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid black;
    padding: 1rem;
    background-color: #004888;
}

.img_voltar{
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

.img_home{
    position: relative;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
}

input{
    top: .5rem;
    width: 15rem;
    height:1.4rem;
    font-family: 'Fira Sans', 'Fira Sans Condensed', sans-serif;
}
    
    main { width: 100%;
        height: 100%;
    padding-bottom: 2rem;
    background-color: white
}
    
    ul{ width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
       }
    
    li{
        display: flex;
        border-bottom: .1rem dotted black;
        align-items: center;
        height: 3rem;
        padding: 2rem;
        font-size: 1.5rem;
        font-family: 'Roboto Slab', 'Zilla Slab', serif;
    }

    .linha {
        display: flex;
        flex-direction: row;
    }
    
    .coluna {
        display: flex;
        flex-direction: column;
    }

    a{text-decoration: none;
      color: inherit;}